.primaryCard {
    // border: 1px solid red;
    margin: auto;
    width: 1024px;
    height: 255px;
    margin-bottom: 10px;
    padding: 10px 20px;
    display: flex;
    font-size: 16px;
    
    justify-content: space-between;
    border-radius: 12px;
    background-color: #ffffff;

    
    .imageSection  {
        width: 160px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        justify-content: center;

        img {
            width: 100%;

        }
        p {
            font-size: 13px;
            
        }
    }
    .midSection {
        width: 505px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .discription {
            p {
                font-size: 16px;
                color: #4B5665;

                b {
                    color: black;
                }
            }
        }
        .highlights {
            p {
                font-size: 16px;
                font-weight: 700;
            }
            ul {
                padding: 10px 20px;
                margin-left: 30px;
                list-style: none;
            }
        }
        .moreinfo {
            button {

                color: #1B88F4;
                background-color: transparent;
                border: none;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .rightSection {
        width: 232px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
}